.header{
    background-color: #520155;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    opacity: 100%;
}

.nav-item:hover::after {
  width: 100%;
  opacity: 1;
}

.nav-item::after {
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  transition: all 1s;
  background: white;
  opacity: 0;
  height: 1px;
}

.profile-picture {
    width: 25%;
    border-radius: 100%;
    animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.98, 0.98);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.logo-cursor {
    animation: blink 1s infinite;
}

@keyframes blink { 
    0% { opacity:0; }
    50% { opacity:1; } 
    100% { opacity:0; }
  }

.emptyCase {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
   .grille {
    width: 240px;
    height: 240px;
   }
   .bi {
    width: 50px;
    height: 50px;
   }
   .emptyCase {
    width: 50px;
    height: 50px;
   }
}


.ENSMA {
  width: 150px;
}
.CNES {
  width: 150px;
}
.RU {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 700px) {
  .ENSMA {
    width: 100px;
    height: 100px;
  }
  .CNES {
    width: 100px;
    height: 100px;
  }
  .RU{
    width: 100px;
    height: 100px;
  }
}

body {
    background: linear-gradient();
}