.header{
    background-color: #520155;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: linear-gradient(#520155, #520155e0);
}

#CV-card {
  width: 15rem;
}

#ADHD-card {
  width: 20rem;
}

.boule-loto{
  border-radius: 1rem;
  margin: 0.5rem;
}

.croix-rond-Tic-Tac-Toe {
  animation: scale-up-center 1s ease 0s 1 normal forwards;
}


#ENSMA-Title:hover::after {
  width: 45%;
}

#ENSMA-Title::after {
  content: "";
  display: block;
  height: 1px;
  width: 0px;
  background-color: black;
  transition: all 1s;
}

.fade-in-bottom-1 {
  animation: fade-in-bottom 1s ease 0s 1 normal forwards;
}

.text-entrance {
  animation: fade-in-bottom 2s ease 0s 1 normal forwards;
}

.top-entrance {
  animation: fade-in-top 2s ease 0s 1 normal forwards;
}


.nav-item:hover::after {
  width: 100%;
  opacity: 1;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  transition: all 1s;
  background: white;
  opacity: 0;
  height: 1px;
}

.profile-picture {
    width: 25%;
    border-radius: 100%;
    animation: zoom-in-zoom-out 2s ease infinite;
}


.logo-cursor {
    animation: blink 1s infinite;
}

.emptyCase {
  height: 100px;
  width: 100px;
}

.ENSMA {
  width: 150px;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.CNES {
  width: 150px;
}

.RU {
  width: 100px;
  height: 100px;
}


body {
    background-color: rgb(248, 248, 248);
}

.red-case {
  animation: color-red 1s ease 0s 1 normal forwards;
  border-radius: 10%;
}


.blue-case {
  border-radius: 10%;
  animation: color-blue 1s ease 0s 1 normal forwards;
}


.size-hover-1-6{
  transition: all 1s;
  font-size: 1rem;
}

.size-hover-1-6:hover {
  font-size: 1.6rem;
}

.icon-hover-2-3 {
  transition: all 1s;
}

.icon-hover-2-3:hover {
  height: 2.3rem;
  width: 2.3rem;
}

@media only screen and (max-width: 700px) {
  .rond {
    width: 50px;
    height: 50px;
  }
  .croix {
    width: 50px;
    height: 50px;
  }

  .profile-picture{
    width: 11rem;
  }
  .bi {
   width: 50px;
   height: 50px;
  }
  .ENSMA {
    width: 100px;
    height: 100px;
  }
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.9, 0.9);
    }
    100% {
      transform: scale(1, 1);
    }
  }


@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink { 
    0% { opacity:0; }
    50% { opacity:1; } 
    100% { opacity:0; }
  }


@keyframes color-red {
  0% {
    background-color: white;
  }
  100% {
    background-color: rgb(143, 0, 0);
    color: white
  }
}

@keyframes color-blue {
  0% {
    background-color: white;
  }
  100% {
    background-color: rgb(0, 0, 160);
    color: white;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}